* {
  box-sizing: border-box;
}

body {
  background-color: #0B2434;
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
}



main {
  margin: auto;
  background-color: whitesmoke;
  width: 450px;
  height: auto;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}


.container {
  display: grid;
  grid-template: 1fr 1fr / repeat(5, 1fr);
  gap: 20px;


}


.die {

  height: 50px;
  width: 50px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.die-clicked {
  height: 50px;
  width: 50px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #59E391;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


h3 {
  font-size: 2rem;
}


/* BUTTON */

.roll ,.send {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  background-color: salmon;
  color: white;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 5px;
  border: none;
}

.send {
  margin-top: 0.25em ;
  padding: 7.5px 16px;
  background-color: seagreen;
}

input {
  text-align: center;
  padding: 10px 20px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 1.25em;
}





/* BUTTON */

.roll:active {
  background-color: gray;
  color: white;
  box-shadow: inset 4px 4px 10px -4px rgba(0, 0, 0, 0.5);
}

.roll:disabled {
  background-color: gray;
  color: white;
  box-shadow: inset 4px 4px 10px -4px rgba(0, 0, 0, 0.5);
}



h1 {
  padding: 5px;
  margin: 5px;
}

.counter {
  margin-top: 20px;
  font-size: 0.75em;
  font-weight: 600;
}




/* Results */

/* result info */

.results-page {
  margin-top: 2em;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}


.container-winners {
  width: 80%;
  padding: 0;
  margin: 0;
}


table, th, td {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.251);
    border-collapse: collapse;
    padding: 0.25em;
  }




  @media screen and (max-width:850px) {

    #root {
      padding: 0.5em;
    }

    main {
      width: auto;
      margin: 0 auto;
      padding: 0.5em;
    }


    .container {
      display: grid;
      width: 100%;
      margin: 0;
      padding: 0 auto;
      grid-template-columns: repeat( 6, 1fr );
      gap: 10px;

    }

    .die:nth-last-child(1), .die-clicked:nth-last-child(1) {
      grid-column: 2 / span 4;
    }

    .die, .die-clicked {
      height: 75px;
      width: 75px;
      grid-column: span 2;
      margin: 0 auto;

  }

}
